.left{
    text-align: left;
    
}

.right{

    text-align: right;
    
}

.ragraph{

    font-size: 25px;
    text-align: center;
}

.temp{
    font-size: 20px;
}

.dropdwn{

    text-align: right;
}


    

 

