// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.dee,.zee{

    background-color: #435d8c;
}

.daa{
    color: white;
}

.home{
    background-color: #6495ed;
    color: white;
    // margin-top:30px;
    text-align: center;
}

.zaa{
    
    text-align: left;
    font-size: 15px;

}

.zile{

    text-align: left;
}

.duzi{
    text-align: right;
}
